.modal .modal-footer .btn-flat {
    display: none;
  }
  .error-wrapper {
    display: flex;
    clear: both;
 }
  @media screen and (max-width: 769px) {
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #924a91;
      font-size: 15px;
      font-family: Poppins;
      opacity: 1; /* Firefox */
    }
  
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #924a91;
      font-size: 15px;
      font-family: Poppins;
    }
  
    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #924a91;
      font-size: 15px;
      font-family: Poppins;
    }
    nav {
      height: 90px;
      background-color: white;
      box-shadow: none;
    }
    .ThankYouMpbile {
      width: 100%;
      min-height: 100%;
      top: 0px !important;
      padding-left: 15px;
    }
    .ThankYouMpbile h4 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #924a91;
      margin-top: 70px;
    }
    .ThankYouMpbile p {
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      color: #333333;
    }
    .ThankYouMpbile h6 {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
    }
    .ThankYouMpbile .faCutMobile {
      float: right;
      position: absolute;
      top: 35px;
      right: 25px;
    }
    .callingNumberModal {
      width: 252px;
      height: 56px;
  
      background: #e5e5e5;
      border-radius: 50px;
    }
    .callingNumberModal img {
      margin-bottom: -2px;
    }
    .callingNumberModal h5 {
      margin-left: -8px;
    }
    .paddingDiv {
      padding-left: 24px;
      padding-top: 24px;
    }
    .banner-divHindi {
      padding-left: 24px;
      padding-right: 24px;
      z-index: 100;
      position: relative;
    }
    .roundedCallingDiv {
      width: auto;
      height: 46px !important;
      border-color: #eeeeee;
      border-style: solid;
      margin-top: 25px;
      border-width: 1px 0px 1px 1px;
      border-radius: 80px 0px 0px 80px;
    }
    .numberMobileView {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 10px;
      padding-left: 10px;
      color: #ff8300;
      width: 170px !important;
    }
    .brand-logo {
      margin-left: 13px;
    }
    .brand-logo img {
      width: 100px !important;
      height: 51.89px !important;
      margin-top: -10px;
    }
    .flex {
      display: flex;
      flex-direction: row !important;
      justify-content: space-between;
    }
    .BannerMobileViewHindi .HeadingMobileHindi{
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 39px;
      color: #333333;
      margin-top: 30px;
      padding-right: 24px;
    }
    .BannerMobileViewHindi .paddingDivtwo h1 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 39px;
      color: #333333;
    }
    /* .paddingDivtwo {
          background: #e5e5e5;
          border-radius: 50px;
      }
      .callingNumberModal img {
          margin-bottom: -2px;
      }
      .callingNumberModal h5 {
          margin-left: -8px;
      }
      .paddingDiv {
          padding-left: 24px;
          padding-top: 24px;
      }
      .banner-div {
          padding-left: 24px;
      }
      .roundedCallingDiv {
          width: 180px !important;
          height: 46px !important;
          border-color: #eeeeee;
          border-style: solid;
          margin-top: 25px;
          border-width: 1px 0px 1px 1px;
          border-radius: 80px 0px 0px 80px;
      }
      .numberMobileView {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 20px;
          padding-left: 10px;
          color: #ff8300;
          width: 170px !important;
      }
      .brand-logo {
          margin-left: 13px;
      }
      .brand-logo img {
          width: 100px !important;
          height: 51.89px !important;
          margin-top: -10px;
      }
      .flex {
          display: flex;
          flex-direction: row !important;
          justify-content: space-between;
      }
      .BannerMobileViewCity .paddingDivtwo h1 {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 26px;
          line-height: 39px;
          color: #333333;
      }
      .paddingDivtwo {
          padding-right: 24px;
      } */
    .sucessDiv {
      max-width: 366px;
      height: 86px;
      background: #924a91;
      border-radius: 80px;
    }
    .sucessDiv h5 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      color: #ffffff;
    }
    .sucessDiv h6 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      color: #eeeeee;
      margin-top: -8px;
    }
    .vline {
      border-color: #9c609b;
      border-style: solid;
      border-width: 0px 1px 0px 0px;
      height: 69px;
    }
    .BannerMobileViewHindi .banner-imageHindi {
      /* background-image: url("../../images/cityBannerLargew.webp"); */
      /* background-repeat: no-repeat; */
      /* background-size: contain; */
      height: 303px;
      position: relative;
    }
    .BannerMobileViewHindi .banner-imageHindi picture img {
      position: absolute;
      width: 100%;
    }
    .BannerMobileViewHindi .banner-imageHindi h4 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: #333333;
    }
    .banner-imageHindi .input-field {
      max-width: 190px;
      padding-left: 5px;
    }
  
    .banner-imageHindi label {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      color: #924a91;
    }
    .banner-imageHindi input {
      /* border-bottom: 0.5px solid #666666 ; */
    }
    .input-field input[type="text"]:focus {
      border-bottom: 1px solid #999299 !important;
      box-shadow: none !important;
    }
    .BannerMobileViewHindi  #mobile_number:focus {
      border-bottom: 1px solid #999299 !important;
      box-shadow: none !important;
  }
  .BannerMobileViewHindi  #name:focus {
    border-bottom: 1px solid #999299 !important;
    box-shadow: none !important;
  }
  input.invalid[type=text]:not(.browser-default){
    box-shadow: none !important;
  }
  input.valid[type=text]:not(.browser-default){
    box-shadow: none !important;
  }
    .banner-imageHindi .banner-divHindi .buttona {
      background: #ff8300;
      width: 103.22px;
      height: 42px;
      border-radius: 36px;
    }
    .BannerMobileViewHindi {
      display: block;
    }
    .BannerDesktopViewHindi {
      display: none;
    }
    .BannerMobileViewHindi .mobileNameField {
      margin-top: -10px;
    }
    .BannerMobileViewHindi .mobilePhoneField {
      margin-top: -5px;
    }
    .BannerMobileViewHindi .banner-imageHindi p {
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 11px;
      line-height: 18px;
      color: #333333;
      margin-top: 15px;
    }
  }
  @media screen and (max-width: 400px) {
    .BannerMobileViewHindi .banner-imageHindi h4{
      font-size: 17px;
    }
    .BannerMobileViewHindi .banner-imageHindi p {
      
      font-size: 9px;
      margin-top: 10px;
      line-height: 13px;
    }
  }
  
  @media screen and (min-width: 770px) {
    .BannerMobileViewHindi {
      display: none;
    }
    .BannerDesktopViewHindi {
      display: block;
      z-index: 4;
    }
    .BannerDesktopViewHindi .thankYouModal .thankh1{
      font-family: Poppins !important;
      font-style: normal !important;
      font-weight: 300 !important;
      font-size: 16px !important;
      line-height: 28px !important;
      color: #333333 !important;
      width: 350px !important;
      text-align: left !important;
      padding-left: 0px !important;
  }
    .BannerDesktopViewHindi .navbar {
      height: 110px;
      box-shadow: none;
      /* background-color: white; */
      background-color: transparent;
    }
    
  
    .BannerDesktopViewHindi .brand-logo img {
      width: 159px;
      height: 82px;
      margin-left: 68px;
      margin-top: 32px;
    }
    .BannerDesktopViewHindi .rightNavbar {
      padding-right: 68px;
    }
    .BannerDesktopViewHindi .CallNumber {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      color: #333333;
      margin-top: 54px;
      margin-right: 10px;
    }
    .BannerDesktopViewHindi .CallNumber:hover {
      color: #924a91;
      border-radius: 20px;
      background-color: white;
    }
    .BannerDesktopViewHindi .CallNumber img {
      width: 20px;
      height: 20px;
    }
    .BannerDesktopViewHindi #call {
      margin-bottom: -3px;
    }
    .BannerDesktopViewHindi .bookFreeButton {
      width: 273.39px;
      height: 48px;
      background: #ff8300;
      border-radius: 36px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 47px;
      text-transform: none;
      margin-top: 45px;
    }
    .BannerDesktopViewHindi .bannerContent {
      margin-top: 100px;
    }
    .BannerDesktopViewHindi h5 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500 !important;
      font-size: 32px;
      color: #333333;
      padding-left: 58px;
      margin-top: 10px;
    }
    .BannerDesktopViewHindi h6 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      color: #333333;
      padding-left: 68px;
    }
    .BannerDesktopViewHindi .desktopBannerImage {
      border-radius: 40px;
      width: 600px;
      height: 600px;
      margin-top: -40px;
    }
    .DesktopBannerShape {
      position: absolute;
      width: 426.62px;
      height: 426.62px;
      background: #f5f5f5;
      border-radius: 50px;
      transform: rotate(-45.05deg);
      top: -110px;
      right: -180px;
    }
    .BannerDesktopViewHindi .bannerNumbersHindi h1 {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      color: #924a91;
      padding-bottom: 5px;
    }
    .BannerDesktopViewHindi .bannerNumbersHindi h2 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      color: #333333;
      line-height: 23px;
    }
    .BannerDesktopViewHindi .bannerNumbersHindi h2 span {
      font-weight: bold;
    }
    .BannerDesktopViewHindi .bannerNumbersHindi {
      padding-left: 48px;
      margin-top: -20px;
      position: absolute;
    }
    /* .orangeSeparator {
      border: 3px solid #FF8300;
      transform: rotate(90deg);
      width: 32px;
    } */
    .BannerDesktopViewHindi .greyDiv {
      width: 620px;
      height: 282px;
      background: #f5f5f5;
      border-radius: 0px 200px 200px 0px;
      margin-top: 115px;
    }
    .BannerDesktopViewHindi .greyDiv p {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      color: #ff8300;
      padding-left: 70px;
      margin-top: 33px;
    }
    .BannerDesktopViewHindi .greyDiv .input-field {
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      color: #333333;
      margin-top: -18px;
    }
    .BannerDesktopViewHindi .greyDiv .nameInputField {
      padding-left: 83px;
      width: 300px;
    }
    .BannerDesktopViewHindi .greyDiv .mobileInputField {
      padding-left: 20px;
      width: 260px;
    }
    .BannerDesktopViewHindi .greyDiv #mobile_number:focus {
      border-bottom: 1px solid #999299 !important;
    }
    .BannerDesktopViewHindi .greyDiv h6 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      color: #333333;
      margin-left: 2px;
      margin-top: 18px;
    }
    .input-field input[type="text"]:focus {
      border-bottom: 1px solid #999299 !important;
      box-shadow: 0 1px 0 0 #999299 !important;
    }
    .BannerDesktopViewHindi .greyDiv .btnSubmit {
      width: 126.77px;
      height: 58px;
      background: #ff8300;
      border-radius: 36px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 58px;
      margin-top: -24px;
    }
    .greyDiv button {
      margin-left: 71px;
      box-shadow: none;
      text-transform: none;
    }
    .navbarModalShapeTwo {
      position: absolute;
      width: 220.26px;
      height: 219.53px;
      border: 7px solid #f2cc02;
      border-radius: 40px;
      mix-blend-mode: normal;
      transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
      right: -135px;
      margin-top: -120px;
      z-index: -50;
    }
    .ThankyouModalNew {
      width: 600px;
      height: 386px;
      margin-top: 80px;
      overflow: visible;
    }
    .CutIconModal {
      position: absolute;
      top: -18px;
      right: -18px;
      cursor: pointer;
    }
    .ThankyouModalNew h4 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #924a91;
      margin-top: 35px;
    }
    .ThankyouModalNew .thankModalImage {
      position: absolute;
      top: -160px;
      left: 220px;
    }
    .ThankyouModalNew h5 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      color: #333333;
      margin-left: 4px;
      width: 273px;
    }
    .ThankyouModalNew h6 {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
      margin-left: 5px;
      margin-top: 35px;
    }
    .ThankyouModalNew h3 {
      margin-left: 7px;
    }
    .ThankyouModalNew h3 span {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      text-align: right;
      color: #924a91;
      margin-left: 10px;
    }
    .ThankyouModalNew h3 img {
      margin-bottom: -2px;
    }
    .BannerDesktopViewHindi .bannerLastDivHindi {
      padding-left: 10px;
      padding-right: 72px;
    }
    .BannerDesktopViewHindi .bannerLastDivHindi h5 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      color: #333333;
      margin-top: 90px  !important;
    }
    .bannerLastDivHindi .bannerCardsHindi {
      padding-left: 55px;
      display: flex !important;
      justify-content: space-between !important;
      margin-top: 20px;
    }
    .bannerLastDivHindi .bannerCardsHindi .card-image {
      width: 308px;
      height: 177px;
      overflow: hidden;
      /* margin-left: 50px; */
    }
    .bannerLastDivHindi .bannerCardsHindi .card {
      box-shadow: none;
      margin-top: 35px;
      width: 320px;
    }
    .bannerLastDivHindi .bannerCardsHindi .card p {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      color: #333333;
      margin-top: -10px;
    }
    .bannerLastDivHindi .bannerCardsHindi .card-image img {
      min-width: 308px;
    }
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #333333;
      opacity: 1; /* Firefox */
    }
  
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #333333;
    }
  
    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #333333;
    }
    input.invalid[type=text]:not(.browser-default){
      box-shadow: none !important;
    }
    input.valid[type=text]:not(.browser-default){
      box-shadow: none !important;
    }
     input {
      border-bottom: 0.5px solid #666666;
    }
    .input-field input[type="text"]:focus {
      border-bottom: 1px solid #999299 !important;
      box-shadow: none !important;
    }
      #mobile_number:focus {
      border-bottom: 1px solid #999299 !important;
      box-shadow: none !important;
  }
  #name:focus {
    border-bottom: 1px solid #999299 !important;
    box-shadow: none !important;
  }
  .orangeSeparatorHindi{
    width: 32px;
    border: 3px solid #FF8300;
    transform: rotate(90deg);
    margin-top: 10px;
  }
  .purpleSeparatorHindi{
    width: 32px ;
    border: 3px solid #924A91;
    transform: rotate(90deg);
    margin-top: 10px;
  }
  }
  
  @media screen and (max-width: 568px) {
    .hEBHZX {
      border-radius: 0;
      bottom: 0 !important;
      left: initial !important;
      height: 100%;
      right: 0 !important;
      top: initial !important;
      width: 90%;
    }
  }
  