
@media screen and (min-width:710px){
    .GujaratiReviewHeading{
        font-size: 30 !important;
    }
}
.reviewHeadingGujarati{
    line-height: 36px !important;
}
.gstar{
    width: 20px;
    height: 20px;
    margin-top: -60px !important;
}

@media screen and (max-width:700px){
    .ReviewMobileHindi .gujratiSliderMobile{
        height: 350px !important;
    }   
}